//- SPDX-License-Identifier: Apache-2.0
v-container(fluid)
  v-container
    v-row
      v-col(cols=12)
        h1
          | THE PLATFORM
      v-row
        v-col(cols=12, md=6)
          v-row
            v-col.text-center(cols=4, md=3)
              img(src='https://cdn.3xr.com/images/home/upload-icon.svg', width='100%')
            v-col(cols=8, md=9)
              h4.pa-4
                | Upload product data and imagery to request high quality AR-3D models to provide your customer with the experience they’re demanding.
            v-col.text-center(cols=4, md=3)
              img(src='https://cdn.3xr.com/images/home/manage-icon.svg', width='100%')
            v-col(cols=8, md=9)
              h4.pa-4
                | Build out a reusable model and material library to expedite your new product introduction cycle.
            v-col.text-center(cols=4, md=3)
              img(src='https://cdn.3xr.com/images/home/QA-icon.svg', width='100%')
            v-col(cols=8, md=9)
              h4.pa-4
                | Have a voice in the model QA process. Track, review, and comment on models in real time to ensure quality standards are met.
            v-col.text-center(cols=4, md=3)
              img(src='https://cdn.3xr.com/images/home/channels.svg', width='100%')
            v-col(cols=8, md=9)
              h4.pa-4
                | Streamlined distribution of your product content to the channels you need. Forget about the technical standards, 3XR assets are platform agnostic.
        v-col(cols=12, md=6)
          .pt-8
            img(src='https://cdn.3xr.com/images/home/PO-view.jpg', width='100%')
  v-row.light-blue-bkg
    v-container
      v-row
        v-col(cols=12, md=6, align-self='center')
          iframe(
            allowfullscreen,
            height='400',
            width='100%',
            src='https://embed.3xr.com/rsst5hde6bq3?bg=eff2f9&nologo=true',
            frameborder='0'
          )
        v-col.top-margin.pa-10(cols=12, md=6)
          h1.pa-6
            | REDEFINE HOW CUSTOMERS SHOP WITH AR
          p.pa-8
            | We help brands provide
            b
              | a better customer experience, that the consumer is demanding.
            br
            br
            | 3XR platform provides endless opportunities to create amazing customer experiences with a single source of truth asset.
  v-row.med-blue-bkg.padding-top-less.padding-btm-less
    v-col(cols=12)
      v-container
        v-row
          v-col(cols=12)
            h1.pa-4
              | ONE MODEL, ENDLESS CUSTOMER OPPORTUNITIES
            p.pa-4
              | Our platform unlocks the ability to use
              b
                |
                | a single source of truth,
              span
                | one 3D model, to push the customer experience to
              b
                |
                | all your distribution channels.
              br
              br
              span
                | The 3XR Final Asset page provides your team with the enhanced product content you need to bring an
              b
                |
                | AR commerce experience to your customer.
        v-row
          v-col(cols=12, md=6)
            v-list
              v-list-item
                v-icon.pa-2(color='blue') mdi-check
                .span
                  | High quality, AR 3D models.
              v-list-item
                v-icon.pa-2(color='blue') mdi-check
                .span
                  | Code to embed your AR ready models
              v-list-item
                v-icon.pa-2(color='blue') mdi-check
                .span
                  | 3D asset files in formats compatible with all major retailers.
              v-list-item
                v-icon.pa-2(color='blue') mdi-check
                .span
                  | White background silo product images
              v-list-item
                v-icon.pa-2(color='blue') mdi-check
                .span
                  | 360 degree spin view videos
              v-list-item
                v-icon.pa-2(color='blue') mdi-check
                .span
                  | QR codes for use in sales, marketing, internal discussions.
          v-col(cols=12, md=6)
            iframe(
              allowfullscreen,
              height='400',
              width='100%',
              src='https://embed.3xr.com/2z0rpfz335cb?bg=cce5f4&nologo=true',
              frameborder='0'
            )