//- SPDX-License-Identifier: Apache-2.0
.login-background
  v-card.mx-auto.mt-5(width=450)
    v-card-title
      h1.display-1
        | Forgot Password
    v-card-text
      v-form
        v-text-field#email(
          autofocus,
          @focus='clearMessages()',
          label='Email',
          prepend-icon='mdi-account-circle',
          required,
          type='email',
          v-model='input.email'
        )
    .error-message(v-if='errorMessage')
      | {{ errorMessage }}
    .success-message(v-if='successMessage')
      | {{ successMessage }}
    v-card-actions.justify-end
      spinner-button(
        color='orange',
        :disabled='buttonDisabled',
        label='Reset Password',
        :loading='loading',
        :onClick='submit'
      )