//- SPDX-License-Identifier: Apache-2.0
.background.pa-12
  v-card.mx-auto(width=450)
    v-card-title
      h1.display-1
        | Set Your Password
    v-card-text
      v-form
        v-text-field(
          autofocus,
          @focus='clearMessages()',
          label='Username',
          prepend-icon='mdi-account-circle',
          disabled,
          v-model='input.username'
        )
        v-text-field#newPassword(
          :append-icon='showPassword ? "mdi-eye" : "mdi-eye-off"',
          @click:append='showPassword = !showPassword',
          @focus='clearMessages()',
          label='New Password',
          prepend-icon='mdi-lock',
          required,
          :type='showPassword ? "text" : "password"',
          v-model='input.newPassword'
        )
        v-text-field#confirmPassword(
          @focus='clearMessages()',
          label='Confirm Password',
          prepend-icon='mdi-spellcheck',
          required,
          :type='showPassword ? "text" : "password"',
          v-model='input.confirmPassword'
        )
    .error-message(v-if='errorMessage')
      | {{ errorMessage }}
    .success-message(v-if='successMessage')
      | {{ successMessage }}
    v-card-actions.justify-end
      spinner-button(
        color='blue',
        :disabled='buttonEnabled',
        label='Set Password',
        :loading='loading',
        :onClick='submit'
      )